<%= simple_form_for("", url: chat_room_path(@chat_room), method: :get) do |f|%>
  <div class="form-group" style="width: 20em; margin-left: auto; margin-right: auto;">
    <%= f.input :pass, label: "Password", placeholder: "Password...", class: "form-control" %>
  </div>
<% end %>