<%= simple_form_for(@chat_room, url: yield(:room_url), remote:true) do |f| %>
  <div class="chat-form-inline">
    <%= f.input :name, inline_label: true, label: yield(:room_name_label) %>
  </div>
  <% if yield(:room_action) == "edit" %>
    <div class="chat-form-inline">
        <span><%= link_to '', chat_room_path(@chat_room), class: 'glyphicon glyphicon-minus-sign', remote: true %></span>
    </div>
  <% end %>
  <%= f.input :private_room, as: :boolean%>
<% end %>


