<div class="container text-center main-text">
	<h1>Онлайн чат для тебя и твоих близких.</h1>
	<h3>Начни общение прямо сейчас всего за пару шагов</h3>
	<p><%= link_to "Create chat room", '#', class: 'btn btn-primary'%></p>
</div>