<%provide(:message_form_url, chat_room_messages_path(@chat_room))%>
<div class="container text-center">
	<div id="room-info">
		<%= render 'about_room' %>
	</div>

	<div class="chat-messages">
		<div id="room-messages">
			<% if @chat_room.messages.any? %>
			  <h3>Messages</h3>
			<% end %>
			<section id="messages" data-chat_room-id="<%= @chat_room.id %>">
			  <%= render @chat_room.messages %>
			</section>
		</div>

		<div id="message-form-type">
		  <%= render 'message_form' %>
		</div>
	</div>
</div>
