@import "bootstrap-sprockets";
@import "bootstrap";
/* CSS Styles */

body,html{
    background: url(https://multicolor.io/static/8d3d2f73821055b1c4f9faae1b23926d/ab7ec/2019-10-04-dark-wood-texture.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: scroll;
    font-family: 'Roboto Slab', serif;
	font-size: 16px;
}

textarea#message_content{
  resize: none;
  height: 75px;
}

div.alert{
    position: absolute;
    width: 100%;
    transform: translate(0%, -36%);
    color: gray;
    button{
        span{
          color:black;
        }
    }
}

#messages {
  .avatar {
    margin: 0.5rem;
  }
}

a {
  &.login-btn {
    display: block;
    border: 1px solid #babacc;
    border-radius: 9px;
    padding: 0 8px 0 54px;
    font-weight: 900;
    background-color: #fff;
    line-height: 32px;
    width: 20%;
    text-decoration: none;
    position: relative;
  }
  &.login-btn:before{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 6px;
    -webkit-background-size: 18px 18px;
    -moz-background-size: 18px 18px;
    -o-background-size: 18px 18px;
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.login-btn:after {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    left: 40px;
    top: 0;
    background-color: #babacc;
  }

  &.login-btn:hover{
    background-color: #B0C4DE;
  }

  &.login-btn-facebook:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAVFBMVEUAAAAcjvIdlv4dlv8cl/8ZguIcj/Egl/8cjvEZlvYdlv4ck/kcj+8ZhuAbgNsdlPwclfsclPkcje4ek/kelf8aiu0biewbiuodkvgck/8ejPUel/+sgL4cAAAAG3RSTlMAmsOfQD2SICQR04hsLRz9xsW3rIB0XVVGQDOQot/GAAAAcklEQVQ4y+3QORKAIAxAUWVRUMB95f73FLCgEchoYaG/onhDJsnej5c2HiMCNdqGI6azIIFqnUZKA9CcRH7ayhgLb5c707p3AqGnSFHaO1RRkwx/48MQNEKQgKANgvZrJAkZzu2ICXSnH30WLYVtym50AK0BGFMu0HXjAAAAAElFTkSuQmCC);
  }

  &.login-btn-vkontakte:before {
    background-image: url(https://image.flaticon.com/icons/svg/25/25684.svg);
  }
}

.image-input{
  border: solid 1px white;
  border-radius: 5px;
  background-color: white;
  padding: 5px 3px 5px 3px;
}

h1,h2,h3,p,span,label{
	color: white;
}

@import "chat_rooms.scss";
@import "persons.scss";
@import "messages.scss";
@import "roles.scss";