// Place all the styles related to the Roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vip{
	color:#FFD700;
}
.moder{
	color:#87CEFA;
}
.admin{
	color:#EE82EE;
}
.owner{
	color:#00FF00;
}